.featured{
    width: 480px;
    margin: 0 auto;
    background-color: #eee;
    color: #166;
    padding: 50px;
    
}
article img{
    float: right;
    size: 128px 128px;
    border-radius: 50%;
}
body{
    background-color: #222;

}
h3{
    margin-top: 0px;
}
a{
    text-decoration: none;
}
a:link {
    color: #611;
}
a:hover{
    background-color: #cf8;
    border: 2px dotted;
    color:rgb(185, 207, 190),;
}